.alert-page {
  height: 78vh;
  display: flex;
  flex-direction: column;
  padding-bottom: 1%;
}

.alert-page-container {
  display: flex;
  flex-direction: row;
  height: 100%;
  // overflow: auto;
  // padding: 1%;
}

.alert-page-list {
  height: 90%;
}

.alert-page-list-container {
  flex: 1;
}

.alert-page-detail {
  flex: 4;
  min-height: 400px;
}

.alertPageGeneratorButton {
  display: flex;
  justify-content: flex-end;
  height: 30px;
  bottom: 4%;
  right: 2%;
}

.undo-button {
  position: absolute;
  bottom: -25px;
}

@media (max-width: 320px) {
  /* smartphones, iPhone, portrait 480x320 phones */
  .alert-page {
    height: 65vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
  }
}
@media (max-width: 481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .alert-page {
    height: 65vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
  }
}
@media (max-width: 641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .alert-page {
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
  }

  .alert-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    // padding: 1%;
  }

  .alert-page-list-container {
    // flex: 1;
    height: 75vh;
  }

  .alert-page-detail {
    // flex: 0;
    // display: flex;
    height: 75vh;
  }
}
@media (max-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */

  .alert-page {
    height: 75vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
  }

  .alert-page-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    // padding: 1%;
  }

  .alert-page-list-container {
    // flex: 1;
    height: 75vh;
  }

  .alert-page-detail {
    // flex: 0;
    // display: flex;
    height: 75vh;
  }

  .undo-button {
    position: absolute;
    bottom: -40px;
  }
}

@media (min-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .alert-page-list-container {
    flex: 1;
  }

  .alert-page-detail {
    flex: 2;
    // min-height: 400px;
  }
}

@media (min-width: 1175px) {
  /* big landscape tablets, laptops, and desktops */
  .alert-page-list-container {
    flex: 1;
  }

  .alert-page-detail {
    flex: 2;
    // min-height: 400px;
  }
}
@media (min-width: 1281px) {
  /* hi-res laptops and desktops */
  .alert-page-list-container {
    flex: 1;
  }

  .alert-page-detail {
    flex: 3;
    min-height: 400px;
  }
}

@media (min-width: 1581px) {
  /* hi-res laptops and desktops */
  .alert-page-list-container {
    flex: 1;
  }

  .alert-page-detail {
    flex: 4;
    min-height: 400px;
  }

  .alert-page {
    height: 78vh;
    display: flex;
    flex-direction: column;
    padding-bottom: 1%;
  }

  .undo-button {
    position: absolute;
    margin-top: -25px;
  }
}

@media (min-width: 2001px) {
  /* hi-res laptops and desktops */
  .alert-page-list-container {
    flex: 1;
  }

  .alert-page-detail {
    flex: 4;
    min-height: 400px;
  }

  .undo-button {
    position: absolute;
    bottom: -25px;
  }
}
