.alert-detail-blank {
  display: flex;
  border: 1px solid lightgrey;
  margin: 6%;
  margin-top: 5%;
  padding-top: 2%;
  padding-left: 5%;
  padding-right: 5%;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
}
