.MuiDataGrid-row:nth-child(odd) {
  background-color: aliceblue;
}

.history-container {
  width: 80%;
  margin-left: 10%;
  margin-top: 0%;
  height: 82vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.history-title {
  margin-left: 45%;
}

@media (max-width: 961px) {
  /* tablet, landscape iPad, lo-res laptops ands desktops */
  .history-container {
    width: 100%;
    margin-left: 0%;
    margin-top: 0%;
    height: 82vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .history-title {
    margin-left: 35%;
  }
}
